<h4>Add a new ingredient:</h4>

<%= simple_form_for ([cocktail, dose]) do |d| %>
  <%= d.input :description %>
  <%= d.association :ingredient %>
  <%= d.submit 'Add ingredient', class: "btn btn-primary" %>
<% end %>

