.navbar-lewagon {
  justify-content: space-between;
  background: black;
  border-bottom: 1px solid rgb(40, 40, 40);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-size: 40px;
  color: $lime-green;

  &:hover {
    color: white;
  }
}
