<h4>Add a review:</h4>

<%= simple_form_for ([cocktail, review]) do |r| %>
  <%= r.input :content %>
  <%= r.input :rating, collection: Review::RATING %>
  <%= r.submit 'Add review', class: "btn btn-primary" %>
<% end %>

